@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .pseudo-spin-content {
    @apply content-[''] rounded-full outline-dashed outline-offset-[-11px] outline-2 outline-sea hover:animate-[spin_10s] absolute h-full w-full
  }

  .inner-border {
    background: linear-gradient(to top, var(--color-text-secondary) 15%, transparent 15% 100%);
  }
}

:root {
  --color-text-primary: #000000;
  --color-text-secondary: #146C94;
  --color-bg-primary: #F6F1F1;
  --color-bg-secondary: #19A7CE;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text-primary: #000000;
    --color-text-secondary: #146C94;
    --color-bg-primary: #F6F1F1;
    --color-bg-secondary: #19A7CE;
  }
}

body {
  font-size: 18px;
  color: var(--foreground-rgb);
  background: var(--background-rgb);
}
